[Unit]
Description=Clash Background Subscription Updater Watchdog
After=local-fs.target network-online.target network.target
Wants=local-fs.target network-online.target network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/clash_linuxupd/main.py
KillMode=process
Type=oneshot

[Install]
WantedBy=multi-user.target