[Unit]
Description=Clash Background Subscription Updater - YACD Web Panel
After=local-fs.target network-online.target network.target clash_linuxupd.service
Wants=local-fs.target network-online.target network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/clash_linuxupd/web_yacd.py
KillMode=process
Type=simple
Restart=on-abnormal
RestartSec=5

[Install]
WantedBy=default.target